body {
    font-size: 17;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

* {
    margin: 0;
    padding: ;
    box-sizing: border-box;
}

.teksprofile {
    margin-right: 700px;
    margin-top: -480px;
    text-align: center;
    font-size: 50px;
}

.teksprofile2 {
    margin-right: 640px;
    margin-top: 30;
    text-align: center;
    font-size: 50px;

}

/* HALAMAN PROFILE */

.profile {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 530px;
    margin-top: 20px;
}

.instagramlogo {
    position: absolute;
    bottom: 450px;
    left: 520;
    
}

.githublogo{
    position: absolute;
    bottom: 450px;
    left: 630px;
}

.facebooklogo {
    position: absolute;
    bottom: 450px;
    left: 575px;
}


#header {
    background-image: url(biru.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

nav {
    font-size: 30px;
    background-color: #3b80c5;
    display: flex;
    justify-content: center;

}



.container {
    padding: 0px 0px;
}


/* .logo {
    width: 140px;
} */

.logo2 {

    width: 270px;
    margin-right: 1075px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

.profileimg {
    border: 5px solid white;
    border-radius: 20px;
    width: 350px;
    margin-left: 100px;
    margin-top: 50px;
}


